<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex , nofollow">
    <title>Webデザインニュースサイト「ウェブマガジン」に取材いただきました｜PON DESIGN</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41b1f8d62e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="swiper/swiper-bundle.min.css">
    <link rel="icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
</head>

<body>
    <header id="header">
        <div class="header">
            <a href="index.html"><img src="/static/img/パス 10.png"></a>
            <nav>
                <ul class="header-ul">
                    <li class="header-li"><a href="news.html" class="header-a">NEWS</a></li>
                    <li class="header-li"><a href="service.html" class="header-a">SERVICE</a></li>
                    <li class="header-li"><a href="works.html" class="header-a">WORKS</a></li>
                    <li class="header-li"><a href="company.html" class="header-a">COMPANY</a></li>
                    <li class="header-li"><a href="recruit.html" class="header-a">RECRUIT</a></li>
                    <li class="header-li"><a href="contact.html" class="header-a">CONTACT</a></li>
                </ul>
            </nav>

            <nav class="sp-nav">
                <ul>
                    <li class="header-li"><a href="news.html" class="header-a">NEWS</a></li>
                    <li class="header-li"><a href="service.html" class="header-a">SERVICE</a></li>
                    <li class="header-li"><a href="works.html" class="header-a">WORKS</a></li>
                    <li class="header-li"><a href="company.html" class="header-a">COMPANY</a></li>
                    <li class="header-li"><a href="recruit.html" class="header-a">RECRUIT</a></li>
                    <li class="header-li"><a href="contact.html" class="header-a">CONTACT</a></li>
                </ul>
            </nav>

            <div id="hamburger" class="btn03">
                <div class="stick stick-1"></div>
                <div class="stick stick-2"></div>
                <div class="stick stick-3"></div>
            </div>
        </div>
    </header>
    <div class="sub-visual"></div>
    <div class="page-item">
        <h1 class="page-title">NEWS</h1>
        <p class="page-str">お知らせ</p>
    </div>

    <div class="nav-list">
        <div class="container">
            <ul class="nav-list-ul">
                <div>
                    <li class="nav-list-li"><a href="index.html">HOME</a></li>
                </div>
                <div>
                    <li class="nav-list-li">></li>
                </div>
                <div>
                    <li class="nav-list-li"><a href="{% url 'main:news' %}">NEWS</a></li>
                </div>
                <div>
                    <li class="nav-list-li">></li>
                </div>
                <div style="overflow: hidden;">
                    <li class="nav-list-li overflow">Webデザインニュースサイト「ウェブマガジン」に取材いただきました</li>
                </div>
            </ul>
        </div>
    </div>

    <div class="newsDetail-cont">
        <div>
            <h1 class="newsDetail-title">Webデザインニュースサイト「ウェブマガジン」に取材いただきました</h1>
            <p class="newsDetail-date">
                <date>2030.02.01</date><span class="newsDetail-label">お知らせ</span>
            </p>
            <img src="/static/img/marco-xu-WNbJyh2zVlc-unsplash.png" class="newsDetail-img">
            <p class="newsDetail-str">
                テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
            </p>
        </div>

        <div class="newsDetail-maincont">
            <div class="newsDetail-main">
                <h1 class="newsDetail-main-title">大見出し</h1>
                <p class="newsDetail-main-txt">
                    テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                </p>
            </div>

            <div class="newsDetail-main">
                <h3 class="newsDetail-main-subtitle">小見出し</h3>
                <p class="newsDetail-main-txt">
                    テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                </p>
                <p class="newsDetail-main-txt">
                    テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります
                </p>
            </div>
        </div>

        <div class="sns-cont">
            <ul class="sns-ul">
                <li>
                    <div class="fb-like fb_iframe_widget" data-href="URLが入る" data-width="" data-layout="button_count"
                        data-action="like" data-size="large" data-share="true" fb-xfbml-state="rendered"
                        fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=0&amp;href=https%3A%2F%2Fwebdesigner-go.com%2Fplanet-hunters%2FURL%25E3%2581%258C%25E5%2585%25A5%25E3%2582%258B&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=true&amp;size=large&amp;width=">
                        <span style="vertical-align: bottom; width: 222px; height: 28px;"><iframe name="f25c1d18e993268"
                                width="1000px" height="1000px" data-testid="fb:like Facebook Social Plugin"
                                title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
                                allowfullscreen="true" scrolling="no" allow="encrypted-media"
                                src="https://web.facebook.com/v12.0/plugins/like.php?action=like&amp;app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3a24cfda9049d%26domain%3Dwebdesigner-go.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fwebdesigner-go.com%252Ff18a996299075d8%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fwebdesigner-go.com%2Fplanet-hunters%2FURL%25E3%2581%258C%25E5%2585%25A5%25E3%2582%258B&amp;layout=button_count&amp;locale=ja_JP&amp;sdk=joey&amp;share=true&amp;size=large&amp;width="
                                style="border: none; visibility: visible; width: 222px; height: 28px;"
                                class=""></iframe></span>
                    </div>
                </li>
                <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
                        data-show-count="false">Tweet</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </li>
                <li class="left10">
                    <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
                        data-hatena-bookmark-layout="basic-label" data-hatena-bookmark-lang="ja"
                        title="このエントリーをはてなブックマークに追加"><img
                            src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
                            alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
                    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8"
                        async="async"></script>
                </li>
                <li class="left10">
                    <div class="line-it-button" data-lang="ja" data-type="share-b" data-env="REAL"
                        data-url="https://developers.line.biz/ja/docs/line-social-plugins/install-guide/using-line-share-buttons/"
                        data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;">
                    </div>
                    <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async"
                        defer="defer"></script>
                </li>
            </ul>
            <div class="news-move-cont">
                <div class="news-move">
                    <p class="news-move-item b-right"><a href="">Web Conference様のサイトを制作いたしました</a></p>
                    <p class="news-move-item news-move-item2"><a href="">プライバシーマーク取得のお知らせ</a></p>
                </div>
            </div>
            <p class="backto-news"><a href="{% url 'main:news' %}">NEWS一覧</a></p>
        </div>
    </div>


    <section id="contact">
        <div class="contact-box">
            <h1 class="sec-title">CONTACT</h1>
            <p class="sec-subtitle">お問い合わせ</p>
            <p class="recruit-str">Webサイトの制作のご依頼やお見積りなど、<br class="sp-br">お気軽にご相談ください。</p>
            <div class="service-btn-cont">
                <a href="contact.html" class="service-btn">MORE</a>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer">
            <nav>
                <ul class="footer-ul">
                    <li class="footer-li"><a href="index.html" class="footer-a">HOME</a></li>
                    <li class="footer-li"><a href="news.html" class="footer-a">NEWS</a></li>
                    <li class="footer-li"><a href="service.html" class="footer-a">SERVICE</a></li>
                    <li class="footer-li"><a href="works.html" class="footer-a">WORKS</a></li>
                    <li class="footer-li"><a href="company.html" class="footer-a">COMPANY</a></li>
                    <li class="footer-li"><a href="recruit.html" class="footer-a">RECRUIT</a></li>
                    <li class="footer-li"><a href="contact.html" class="footer-a">CONTACT</a></li>
                </ul>
            </nav>
            <p class="footer-logo">©PON DESIGN</p>
        </div>
    </footer>

    <div id="page_top"><a href="#"></a></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
</body>

</html>